asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==3.2
dj-database-url==0.5.0
Django==2.0.6
django-debug-toolbar==1.9.1
django-extensions==2.0.7
django-model-utils==3.1.2
django-sslserver==0.20
docopt==0.6.2
gunicorn==19.8.1
idna==2.7
jedi==0.12.0
parso==0.2.1
paypalrestsdk==1.13.1
pbr==4.0.4
postgres==2.2.1
prompt-toolkit==1.0.15
psycopg2==2.7.5
psycopg2-binary==2.7.5
ptpython==0.41
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==18.0.0
pytz==2018.4
requests==2.19.1
six==1.11.0
sqlparse==0.2.4
stevedore==1.28.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
whitenoise==3.3.1
