{% extends 'site_base.html' %}
{% block main %}
    <h3 class="title" style="font-family: sans-serif;">Create your job board</h3>
    <div class="presentation_table">
        <a href="{% url 'addrole' %}"><h3 style="font-family: sans-serif; padding:5px; background-color: beige; border-radius: 20px;">add a role</h3></a>
        {% if newrole %}{{ newrole }}{% endif %}
        <a href="{% url 'addtask' %}"><h3 style="font-family: sans-serif; padding:5px; background-color: beige; border-radius: 20px;">add a task</h3></a>
        <a href="{% url 'addskill' %}"><h3 style="font-family: sans-serif; padding:5px; background-color: beige; border-radius: 20px;">add a skill</h3></a>
    </div>
{% endblock main %}