{% extends 'site_base.html' %}
{% block main %}
    <h3 class="title">Contracts</h3>
   <div class="presentation_table">
       {% for contract in contracts %}<div class="columns"><div class="contract_name">{{ contract }}</div>
       <div class="contract_meter"></div>
       <div class="contract_pay">Finish Contract and Pay</div></div>{% endfor %}
    </div>
  <div id="paypal-button"></div>
    <script>
    paypal.Button.render({

        env: 'sandbox', // Or 'production'

        client: {
            sandbox:    'ARHrnLJmr1c0J7bF5JwJjLQnEoGWJrDetisaDcdaj2dDj_Z_nc9jTFBCqWyAPMYbk_w4U2wmj6p6TuF5',
            production: 'AYluz6gxsF0nnCDfVyXmsEqzcqdnL38ew14Jm69RVnsekyouTNsaG7h4e2YoD19Ea3EUzrvb__BnfxlN'
        },

        commit: true, // Show a 'Pay Now' button

        payment: function(data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: '100.00', currency: 'USD' }
                        }
                    ]
                }
            });
        },

        onAuthorize: function(data, actions) {
            return actions.payment.execute().then(function(payment) {
                alert("Payment complete!")
                // The payment is complete!
                // You can now show a confirmation message to the customer
            });
        }

    }, '#paypal-button');
</script>
{% endblock main %}