{% extends 'site_base.html' %}
{% block main %}
    <h3 class="title" style="font-family: sans-serif;">Home</h3>
    <div class="presentation_table">
        <h3>A skill-based job listing and matching</h3>
<p style="font-family: sans-serif;line-height: 1.5em;">
A lot of workers and a lot of small businesses struggle with role-definition for new employees, potential employees may apply for the wrong job when another position may have been more suitable to them. This application/API would allow the employer to instead create a shopping list of skills desired or tasks that need to be fulfilled and allow the applying user to pick and choose the ones where they feel the most confident. If The employer wishes they can also add small quizzes for each skill, to add a trial element to skill declaration. The prospective employer may also define a traditional role declaration that the user can be matched too after selecting their skill sets, this would allow the potential employee to find where they might be best suited instead of guessing based on a title or job description alone.
This project will start out as being a small application built in python using AWS lambda with an API gateway. It may later develop into a standalone job site/job search application built in python or perhaps Ruby on Rails.</p>
    </div>
{% endblock main %}
