{% extends 'site_base.html' %}
{% block main %}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
<h1>Login using your PayPal account</h1>
<span id='lippButton'></span>
<script src='https://www.paypalobjects.com/js/external/api.js'></script>
<script>
paypal.use( ['login'], function (login) {
  login.render ({
    "appid":"ARHrnLJmr1c0J7bF5JwJjLQnEoGWJrDetisaDcdaj2dDj_Z_nc9jTFBCqWyAPMYbk_w4U2wmj6p6TuF5",
    "authend":"sandbox",
    "scopes":"openid address profile email https://uri.paypal.com/services/invoicing",
    "containerid":"lippButton",
    "locale":"en-us",
    "returnurl":"https://cac-jason-test.herokuapp.com/paypal_openid_auth/"
  });
});
</script>

</body>
{% endblock main %}
