{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArticulateWorks</title>
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="{% static 'js/LocationIntelligenceSDK-2.6.0-min.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="menubar">
            <ul>
                <li>home</li>
                <li>contracts</li>
                <li>collaborators</li>
                <li>partners</li>
            </ul>
        </div>
    </div>
<div id="main">
    <h3 class="title">Title</h3>
</div>
</div>
</body>
</html>