{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArticulateWorks</title>
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="{% static 'js/LocationIntelligenceSDK-2.6.0-min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/articulateworks.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="menubar">
            <ul>
                <li><a href="{% url 'index' %}">home</a></li>
                <li><a href="{% url 'addneeds' %}">create job board</a></li>
                <li><a href="{% url 'proposals' %}">proposals</a></li>
                <li><a href="{% url 'applications' %}">applications</a></li>
                <li><a href="{% url 'contracts' %}">contracts</a></li>
                <li><a href="{% url 'collaborators' %}">collaborators</a></li>
                <li><a href="{% url 'collaborators' %}">partners</a></li>
            </ul>
        </div>
    </div>
<div id="main">
          {% block main %}

          {% endblock main %}
</div>
</div>
</body>
</html>